// app global css in SCSS form
$sizes: (
  none: 0,
  xs: 4,
  sm: 8,
  md: 16,
  lg: 24,
  xl: 48,
);

@each $key, $value in $sizes {
  .q-gap-#{$key} {
    gap: #{$value}px;
  }

  .q-gap-x-#{$key} {
    column-gap: #{$value}px;
  }

  .q-gap-y-#{$key} {
    row-gap: #{$value}px;
  }
}